@font-face {
    @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
}

body {
    color: #777;
    font-size: 100%
  }

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    padding-left: 150px; /* left col width "#menu" */
    left: 0;
}
/*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #21408;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 2px solid #28213D;
    }

        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            border: 2px solid #28213D;
            color: #18213d;
            text-decoration: none;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #30425C;
        color: #c4cde8;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #ccc;
        }

    /*
    This styles the menu heading.
    */

    #menu .pure-menu-heading {
        font-weight: 300;
        color: #fff;
        margin: 0;    
      }
/*
The content `<div>` is where all your content goes.
*/

a {
    text-decoration: none;
    color: #8e8ed6;
  }

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 787px;
    margin-bottom: 50px;
    line-height: 1.68em;
    font-size: 100%;
}

.header {
     margin: 0;
     color: #18213d;
     text-align: center;
     padding: 2em 2em 0;
     border-bottom: 1px solid #ddd;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 2.2em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #8e8ed6;
        padding: 0;
        margin-top: 0;
    }

    .header h3 {
      font-weight: 300;
      color: #8e8ed6;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #8e8ed6;
}

/** ----- POST  ---- **/

.content-subhead-disclaimer {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    margin: 50px 0 25px 0;
    padding-bottom: 5px;
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 0.1em;
}


.post {
    padding-bottom: 1.2em;
}

.post-title {
    font-size: 150%;
    font-weight: 300;
    color: #8e8ed6;
    margin-bottom: 0.5em;
}

.post-meta {
    color: #999;
    font-size: 80%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post-header {
    margin-bottom: 0;
}
.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }
/* _______________________Blog Page____________________ */

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}
/* _______________________Blog Page____________________ */

.footer {
    text-align: center;
    padding: 3em 0;
}
    .footer a {
        color: rgb(142, 142, 214);
        font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

/* ---------------------------------------------------------- Pricing ---------------- */
/*
 * -- BANNER --* The top banner with the headings. By using a combination* of `display: table;` and `display: table-cell;`, we can* vertically center the text.*/

 .l-content {
    margin: 0;
}

.l-box {
    padding: 1em;
}

.l-box p{
    line-height: 1.8em;
}
.banner {
    background: transparent url('http://farm3.staticflickr.com/2868/11423254635_fea3c0839f_c.jpg') 0 0 no-repeat fixed;
    text-align: center;
    padding-bottom: 0em;
    background-size: cover;
    height: 250px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        padding-top: .65em;
        font-size: 2.8em;
        color: #F7C457;
        font-weight: 500;
        text-shadow: 0 1px 1px #000;
        text-transform: uppercase;
    }

/** -- PRICING TABLE WRAPPER --* This element wraps up all the pricing table elements*/
 .pricing-tables,
 .information {
    max-width: 787px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*.pricing-tables-price {letter-spacing: 20px;}*/

/** -- PRICING TABLE  --* Every pricing table has the .pricing-table class*/
.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em;
    padding: 0 0 3em;
}

/** -- PRICING TABLE HEADER COLORS --* Choose a different color based on the type of pricing table.*/
.pricing-table-free .pricing-table-header {
    background: #6C8A87;
}

.pricing-table-biz .pricing-table-header {
    background: #527492;
}

/** -- PRICING TABLE HEADER --* By default, a header is black/white, and has some styles for its <h2> name.*/
.pricing-table-header {
    background: #CFA854;
    color: #fff;
}
    .pricing-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;
    }
/** -- PRICING TABLE PRICE --* Styles for the price and the corresponding <span>per month</span>*/
.pricing-table-price {
    font-size: 4em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .pricing-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }
/** -- PRICING TABLE LIST --* Each pricing table has a <ul> which is denoted by the .pricing-table-list class*/
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
/** -- PRICING TABLE LIST ELEMENTS --* Styles for the individual list elements within each pricing table*/
.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}
/** -- PRICING TABLE BUTTON -- * Styles for the "Choose" button at the bottom of a pricing table. * This inherits from Pure Button.*/
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    font-weight: 500;
    line-height: 1.6em;
    color:#8E8ED6;
}

.information.pure-g-r {
  max-width: 80%;
}
/** ----- End Pricing -------------------------------------------------------- **/



/*The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
By using the combination of `position: fixed; top: 0; bottom:0;`, we can make
the menu have 100% height and be fixed on the page as the rest of it scrolls.*/
#menu {
    margin-left: -150px; /* this should be "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 150px; /* this should be "#menu" width */
    bottom: 0;
    z-index: 1; /* so the menu or its navicon stays above all content */
    background: #05060a;
    overflow-y: auto;
    -webkit-overflow-scroll: touch; /* for smooth scrolling on mobile */
}
    

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    display: none; /* show this only on small screens */
    top: 0;
    left: 150px; /* `#menu`'s width */
    background: #000; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.2em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/*************  MODAL CSS *************/

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

/*************************************************************************************** END MODAL *******/


/********************* Table *************************/
/* foundational CSS */
.pure-skin-mine .pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #d7dce5;
}

.pure-skin-mine .pure-table caption {
    color: #adadad;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-skin-mine .pure-table td,
.pure-skin-mine .pure-table th {
    border-left: 1px solid #D7DCE5;/* inner column border */
    border-width: 0 0 0 1px;
    font-size: 90%;
    margin: 2em 0;
    text-align: center;
    line-height: 1.4em;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.3em 2em; /* cell padding */
}

.pure-skin-mine .pure-table td:first-child,
.pure-skin-mine .pure-table th:first-child {
    border-left-width: 0;
}

.pure-skin-mine .pure-table thead {
    background-color: #C0BFC2;
    color: #05060a;
    text-align: center;
    vertical-align: middle;
}

/*striping: even - #fff (white) odd  - #f2f2f2 (light gray)*/
.pure-skin-mine .pure-table td {
    background-color: #FCFFFF;
    color: #323c4e;
}
.pure-skin-mine .pure-table-odd td {
    background-color: #d7dce5;
    color: #1e242f;
}

#red {
  background: #DBC0CD;
}

#green {
  background: #92d3b4;
}
/* nth-child selector for modern browsers */
.pure-skin-mine .pure-table-striped tr:nth-child(2n-1) td {
    background-color: #E3E5E6;
    color: #1e242f;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */
/* Hides the menu at `767px`, but modify this based on your app's needs.*/

@media (max-width: 767px) {

    .header {
        text-align: left;
    }

    /*
    Navigation Push styles.
    */
    #layout {
        position: relative;
        padding-left: 0;
    }
        #layout.active {
            position: relative;
            left: 150px;
        }
            #layout.active #menu {
                left: 150px;
                width: 150px;
            }

    #menu {
        left: 0;
        font-size:100%;
    }

    .menu-link {
        position: fixed;
        left: 0;
        display: block; /* show the button on small screens */
    }

    #layout.active .menu-link {
        left: 150px;
    }
/* from pricing.css */
    .banner-head {
        font-size: 3em;
    }
    .pricing-table {
        margin-bottom: 2em;
    }

}
    